/* fix for broken search box */
/*http://stackoverflow.com/questions/36825618/materialize-css-navbar-search-is-broken*/
input[type="search"] {
  height: 64px !important; /* or height of nav */
}
body {
    background-color: #eeeeee;
}
main{
  padding-left: 250px;
}
.container{
  width: 90%;
  padding-top: 3rem;
  margin-left: 4%;
}
.bold{
  font-weight: 600 !important
}
#slide-out{
  top:65px;
}
.material-icons{
  font-size: 2.2rem !important;
}

/* ===================== */
/* CSS by TUSAR */
/* ===================== */
.pull-left{
  float:left;
}
.text-right{text-align:right;}
.right-border{
  border-right:1px solid #ccc;
  padding-right:20px;
  margin-right:15px;
}
.nav-wrapper .nav-items{
  float: left;
  width: 100%;
  padding:0 22px;
}
.nav-items .nav-profile{
  float: left;
  margin: 15px 0 0;
  width:20%;
}
.nav-items .nav-profile span{
  float:left;
  margin-left:18px;
  color:#087ad5;
  line-height:2;
}
.nav-items .nav-profile img{
  width:32px;
  height:32px;
  float:left;
}
.nav-items .title-cont{
  width:60%;
  float:left;
}
.nav-items .title-cont h1{
  font-size:20px;
  color:#a1a6b4;
  font-weight:300;
  text-align:center;
  line-height:3;
  margin:0;
}
.nav-items .nav-right{
  float:left;
  width:20%;
}
.nav-items .nav-links a{
  float:right;
  color:#9e9e9e;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.nav-items .nav-links a:hover{
  color:#000;
}
#slide-out{
  width:250px;
}
.candidate-pro-item{
  display:inline-block;
  vertical-align: top;
  width:48.6%;
}
.candidate-pro-item h2{
  color:#2196f5;
  font-size:18px;
  font-weight:bold;
  margin:0 0 30px;
}
.candidate-pro-item ul{
  padding-left:20px;
  margin:0 0 40px;
}
.candidate-pro-item ul,
.candidate-pro-item li{
  list-style-type: disc !important;
}
.highlights-cont{
  padding-left:55px;
  width:43%;
}
.candidate-pro-item .doc-link{
  color:#616161;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.candidate-pro-item .doc-link:hover{
  color:#2196f5;
}
.candidate-pro-item .doc-link span{
  display: inline-block;
  line-height: 2.5;
  vertical-align: top;
}
.candidate-pro-item li{
  line-height:1.5;
  margin:0 0 15px;
  font-size:15px;
}
.resume-procession-block .section{
  padding: 0.47rem;
}

.side-nav{
  padding: 55px 0;
  text-align: right;
}
.side-nav li{
  padding:0;
}
.side-nav li a{
  color:#e0e0e0;
  padding:0 30px;
  position:relative;
  font-size:16px;
  font-weight:300;
}
.side-nav li i{
  float:left;
  color:#e0e0e0 !important;
}
.side-nav li a:hover{
  background-color: rgba(0, 0, 0, 0.08);
}
.side-nav li a:after{
  content:'';
  right:0;
  top:0;
  position:absolute;
  width:0px;
  height:100%;
  background:#fdd835;
}
.side-nav li a:hover:after{
  width:5px;
  transition:all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.ts-table{width:100%;}
#top-schools-cont .ts-table td{
  padding:7px 10px;
}
#top-schools-cont .ts-table tr{
  border-bottom:1px solid #ccc;
}
#top-schools-cont .ts-table th{
  color:#2196f5;
}
.card .card-title{
  font-size:20px;
}
.card-title .btn-flat{
  padding:0 !important;
}
.progress .bar1{
  animation: bar1 .5s linear;
}
.progress .bar2{
  animation: bar2 .5s linear;
}
.progress .bar3{
  animation: bar3 .5s linear;
}
.progress .bar4{
  animation: bar4 .5s linear;
}



@media only screen and (max-width: 992px){
  main{
    padding-left: 0px;
  }
  .candidate-pro-item{
    width:100%;
    padding:0;
    margin:0 0 20px;
    border:0;
  }
  .nav-profile{display:none;}
  .nav-wrapper .nav-items{width:82.5%;float:right;padding:0 20px 0 0}
  .nav-items .nav-right{float:right;}

}

@keyframes bar1{
  0%{
    width:0px;
  }
  100%{
    width:90%;
  }
}
@keyframes bar2{
  0%{
    width:0px;
  }
  100%{
    width:70%;
  }
}
@keyframes bar3{
  0%{
    width:0px;
  }
  100%{
    width:40%;
  }
}
@keyframes bar4{
  0%{
    width:0px;
  }
  100%{
    width:100%;
  }
}
